/*@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
}*/
@import url(//fonts.googleapis.com/css?family=Open%20Sans:400,700,400italic,700italic);

@font-face {
    font-family: 'Snell Roundhand Black';
    font-style: normal;
    font-weight: normal;
    src: local('Snell Roundhand Black'), url('../snail-roundhead/SnellRoundhand-Black.woff') format('woff');
    }


    @font-face {
    font-family: 'Snell Roundhand';
    font-style: normal;
    font-weight: normal;
    src: local('Snell Roundhand'), url('../snail-roundhead/SnellRoundhand.woff') format('woff');
    }


    @font-face {
    font-family: 'Snell Roundhand Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Snell Roundhand Bold'), url('../snail-roundhead/SnellRoundhand-Bold.woff') format('woff');
    }



.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #FDB413;
}
.navbar-brand{
    /* display: inline-table; */
    position: relative;
    top: -15px;
    left: -15px;
}
/* -----Carousel------ */
.carousel{
    height: 500px;
    overflow: hidden;
    top: -20px;
    margin-bottom: -20px;
}

.carousel-img{
    width: 100%;
}

.carousel-caption{
    top: 200px;
}

.carousel-caption h1{
    font-size: 40px;
}
.navbar ul.nav{
    /*margin: 2.33em;*/
    position: relative;
    top: 1.5em;
}

.navbar-toggle{
    margin-top: 2em;
}

.navbar-inverse {
    background-color: #feb511;
    border-color: #FDB413;
    min-height: 85px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    /*background-color: #292565;*/
    background: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #282663;
    font-variant: petite-caps;
    font-weight: 600;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background-color: #282663;
}
.dropdown-menu > li > a{
    color: #282663;
    font-variant: all-petite-caps;
}
/*----- Search ---- */
input[type=search] {
    width: 130px;
    position: relative;
    /*position: absolute;*/
    top: 5px;
    margin-left: 350px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #282663;
    background-image: url('../../assets/images/searchicon_white.png');
    background-size: 18px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 250px;
    background-image: url('../../assets/images/searchicon_black.png');
    border: 1px solid #ccc;
    background-color: white;
}

input[type=search]::placeholder{
    color: #fff;
}
input[type=search]:focus::placeholder{
    color: #282663;
}
/*--- Slider ---*/
.slider-item-container{
    height: 500px;
}
.slider-caption-container{
    /*background: url(assets/images/DarwinFamilyDayCare.jpg);*/
    height: 100%;
    width: 100%;
    background-clip: inherit;
    background-origin: inherit;
    background-repeat: no-repeat;
    background-position: center;
    /* background-clip: content-box; */
    background-size: cover;
}
/* footer social media icons */
footer{
    background-color: #272565;
    color: #fff;
    min-height: 130px;
    position: relative;
    font-family: 'Open Sans'
}

ul.social-icons{
    /*margin: 0;
    position: absolute;
    right: 5px;
    bottom: 4px;*/
    padding-left: 0;
}
.social-icons li{
    list-style: none;
    display: inline;
    margin: 0 5px;
    padding: 4px 6px;
    background-color: #fff;
    border-radius: 51%;
}
.social-icons li:last-child{
    padding: 0;
    margin: 2px;
    width: 0;
}

.social-icons li:first-child{
    padding: 4px 9px;
}

.social-icons li i{
    color: #282663;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.social-icons li i:hover{
    -webkit-transform: rotate(360deg);
    transform: rotateY(360deg);
    color: #feb511;
}


.section-content{
    padding-top: 8px;
    padding-bottom: 42px;
}

.content-title{
    /*text-align: center;*/
    margin-top: 6px;
}

.darwin-family-day-care{
    background-color: #fffdf7;
}

.murraya-children-centre{
    background-color: #fbfbfb;
}

.bees-creek-ouside-school-hours-care{
    background-color: #fffdf7;
}

/* button */
.btn-wrapper{
    /*text-align: center;*/
    clear:  both;
    /*display: inline-table;*/
}

.btn-territory{
    background-color: #282663;
    color: #fff;
}
.btn-territory:hover{
  color: #feb511;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.babyplaygroupclickicon img{
    height: 100px;
    background-color: rgba(245, 237, 219, 0.88);
}


.babyplaygroupclickicon img:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6) ;
   /* -ms-transform: scale(1.5); /* IE 9 */
   /* -webkit-transform: scale(1.5); /* Safari 3-8 */
   /* transform: scale(1.5);*/
}
/*.babyplaygroupclickicon img::after{
    background: rgb(126, 126, 126);
    content: ' ';
}

.babyplaygroupclickicon img::before{
    background: rgb(126, 126, 126);
    content: ' ';
}*/

.babyplaygroupclickicon{
    text-align: center;
    background-image: url('../../assets/images/Kids-Birthday-Header-image.png');
    padding: 20px 0;
}

.container> .btn-territory {
  font-size: 25px;
  height: 100px;
  width: 100px;
  text-align: center;
  background: #999999;
  color: #fff;
  border: solid #999999;
}
.container> .btn-territory:hover {
  color: #DAF7A6
}

.content-des{
    font-family: 'Gotham SSm',sans-serif;
    color: #333;
    text-align: justify;
    font-size: 15px;
    letter-spacing: normal;
    text-transform: none;
    line-height: 1.8em;
    text-align: justify;
}

.contact-us-section,.about-us-section{
    padding-bottom: 1.5em;
}
.contact-us-section h1,.about-us-section h1{
    position: relative;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    margin: 1em 0;
}

.contact-us-section h1:before,.contact-us-section h1:after,.about-us-section h1:before,.about-us-section h1:after{
    content: "";
    height: 2px;
    position: absolute;
    top: 10px;
    width: 30%;
}

.about-us-section h1:after,.contact-us-section h1:after {
    background: rgb(126, 126, 126);
    right: 0;
}

.about-us-section h1:before,.contact-us-section h1:before {
    background: rgb(126, 126, 126);
    left: 0;
}

.about-us-section .content p{
    font-family: 'Open Sans';
    font-size: 17px;
    text-align: justify;
}

.yellow-back{
    background-color:rgba(254, 181, 17, 0.52);
}

.blue-back{
    background-color:rgba(39, 37, 101, 0.52);
}
.white-back{
    background-color: #fff;
}
table{
    font-family: 'Open Sans';
    font-weight: 600;
}
.borderless td, .borderless th {
    border: none !important;
}

.contact-cart i{
    color: #feb511;
    font-size: 15px;
}

.contact-cart h3{
    text-decoration: none;
}
.contact-cart{
    margin: 2%;
    box-shadow: 0 0 13px 0 #000;
    border-radius: 6px;
    padding: 0px 0px 5px 0px;
    color: #272565;

}
  .contact-cart:hover{
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6) ;
}
.contact-cart-container{
    padding-left: 6.2222%;
    margin-left: 8%;
}

.contact-cart-content{
    padding-left: 5px;
    padding-right: 6px;
}

.card-header{
    font-size: 1.75rem;
    font-weight: bold;
    padding-left: 6px;
    text-shadow: 1px 2px 1px #f2eee3;
}

.contact-cart table tr td:nth-child(2){
    font-size: 15px;
}

.contact-us-page{
    /*background-image: url(../../assets/images/cute-clouds-seamless-pattern.png);*/
    background-color: #fffdf7;
}


/*@media (max-width: 991px){
    .contact-cart-container{
        padding-left: 0;
        margin-left: 0;
    }
}*/


figure {
    margin: 0 0 1rem;
}

.figure {
    display: inline-block
}

.figure-img {
    margin-bottom: .5rem;
    line-height: 1
}

.figure-caption {
    font-size: 90%;
    color: #6c757d
}


.img-fluid{
    max-width: 100%;
    height: auto;
}

.overlay-content{
    display: none;
    position: absolute;
    top: 73px;
    left: 23px;
    /*background-color: rgba(254, 182, 16, 0.26);*/
    background-color: rgba(39, 37, 98, 0.2);
    /* right: 61%; */
    height: 73%;
    width: 88%;
}

.toggle-overlay-content h2{
    font-weight: bold;
    text-shadow: 1px 0 2px #282565;
}
.BeesCreekOutsideSchoolHoursAndVacationCare-contact-info h1,.BeesCreekOutsideSchoolHoursAndVacationCare-content h1,.murrayachildrenscentre-contact-info h1,.murrayachildrenscentre-content h1,.darwinfamilydaycare-content h1{
    font-weight: bold;
    margin-left: 25px;
}

.BeesCreekOutsideSchoolHoursAndVacationCare-contact-info,.murrayachildrenscentre-contact-info{
    padding-top: 1em;
}

.overlay-content a{
    position: relative;
    top: 44%;
    left: 36%;
}

caption{
    color: #333;
}

.note{
    font-style: italic;
}

.toggle-overlay-content img{
    border: #feb511 4px solid;
}

.content-seperator{
    margin-bottom: 3em;
}

.BeesCreekOutsideSchoolHoursAndVacationCare-contact-table i,.murrayachildrenscentre-contact-table i{
    color: #FDB413;
}

.BeesCreekOutsideSchoolHoursAndVacationCare-contact-table caption,.murrayachildrenscentre-contact-table caption{
    padding-left: 9px;
}

.BeesCreekOutsideSchoolHoursAndVacationCare-contact-table,.murrayachildrenscentre-contact-table{
    min-width: 50%;
    width: 50%;
    max-width: 100%;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    margin-left: auto;
    margin-right: auto;
}

.BeesCreekOutsideSchoolHoursAndVacationCare-contact-table td:nth-child(odd),.murrayachildrenscentre-contact-table td:nth-child(odd){
    padding-right: 8px;
}

.BeesCreekOutsideSchoolHoursAndVacationCare-contact-info td:nth-child(2),.murrayachildrenscentre-contact-table td:nth-child(2){
    padding-right: 2em;
}

.starter{
    font-size: 30px;
    font-style: italic;
    text-shadow: 1px 0px 1px #000;
}

.paragraph-container{
    margin-bottom: 1em;
}

.paragraph-container img{
    margin: 1px 30px 10px 5px;
    width: 400px;
    clear: both;
}
.paragraph-container .first-paragraph{
    padding-top: 5px;
}

.paragraph-container p{
  font-weight: 300;
   letter-spacing: normal;
   text-transform: none;
   font-family: 'Gotham SSm',sans-serif;
   font-size: 15px;
   line-height: 1.8em;
    text-align: justify;
}
.card card-body p{
  font-weight: 300;
   letter-spacing: normal;
   text-transform: none;
   font-family: 'Gotham SSm',sans-serif;
   font-size: 15px;
   line-height: 1.8em;
    text-align: justify;
}



.BeesCreekOutsideSchoolHoursAndVacationCare-content hr,.murrayachildrenscentre-content hr{
    clear: both;
}

.paragraph-container ul{
    font-size: 15px;
    line-height: 1.5em;
}

.recruitment-content{
    padding-top: 1em;
}

.recruitment-form-container .form-control{
    height: 42px;
}

.recruitment-form-container textarea{
    min-height: 100px;
}

.logins{
    text-align: center;
    padding: 20px 0;
    background-color: #fffdf7;
}

.login-content{
    padding-bottom: 2em;
    font-size: 16px;
}

.darwinfamilydaycare-slug{
    font-family: 'Snell Roundhand Bold', cursive;
}

.babyplaygroupiframe{
    width: 100%;
    height: 400px;
}

.login-form-container input:not([type="checkbox"]),.login-form-container button[type="submit"]{
    height: 44px;
}
.login-form-container button[type="submit"]{
    font-size: 16px;
    font-weight: bold;
}
.login-form-container .close{
    font-size: 33px;
    color: #fff;
}

.login-title{
    margin-top: 4px;
}

.login-form-container input[type="checkbox"]{
    margin-right: 10px;
}
.login-error{
    display: none;
}

.login-image-container{
    text-align: center;
    position: relative;
    margin:0 0 0 0;
}
.login-fields{
    padding-left: 6%;
    padding-right: 7%;
}

.login-form-container footer,.login-footer{
    min-height: 94px;
}

.login-form-container .modal-header{
    background-color: #272565;
    color: #fff;
}

.no-padding{
    padding: 0px !important;
}
.white{
    color: #fff;
}
.label-list label{
    clear: both;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
.childcareenquiry-container{
    padding-top: 2em;
}

footer .container{
    padding-top: 3em;
    padding-left: 0;
    padding-bottom: 3em;
}
footer ul.footer-contact-info li{
  list-style: none;
  margin-bottom: 11px;
}
footer ul.footer-contact-info li a{

    font-size: 16px;
    text-decoration: none;
    color: #fff;
}
footer ul.footer-contact-info li i{
    background: #3e3c75;
    padding: 6px 7px;
    margin-right: 0.5em;
    border-radius: 50%;
}

.footer-header{
    margin-top: 0;
}
footer p{
  font-family: 'Gotham SSm',sans-serif;
  text-align: justify;
  font-size: 15px;
  letter-spacing: normal;
  line-height: 1.5em;
  text-align: justify;


}

@media (max-width: 1250px){
    input[type=search]{
        margin-left: 150px;
    }
}

@media (max-width: 1038px){
    input[type=search]{
        margin-left: 0px;
    }
}

@media (max-width: 1200px) {
    .BeesCreekOutsideSchoolHoursAndVacationCare-contact-table,.murrayachildrenscentre-contact-table {
        width: 100%;
    }
}

@media (max-width: 888px){
    .navbar-toggle {
        display: block;
    }

    .navbar-nav > li{
        float: none;
    }
    .collapse {
        display: none;
    }

    .navbar-header {
        float: none;
    }
    .navbar-collapse.collapse{

    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

    /*.navbar-nav {
        margin: 7.5px -15px;
    }*/
    .navbar ul.nav{
        top: 5px;
        height: auto;

    }

    .site-logo{
        width: 160px;
        height: 85px
    }
    input[type=search] {
      margin-left: 5px;
      margin-bottom: 15px;

    }



}
@media (min-width: 888px){
    input[type=search] {
        /*width: 130px;*/
        /*position: relative;*/
        position: absolute;

    }

    input[type=search]:focus {
        width: 170px;
        /*position: absolute;
        background-image: url(../../assets/images/searchicon_black.png);
        border: 1px solid #ccc;
        background-color: white;*/
        left: -7px;
    }
}
@media (max-width: 767px)
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #282663;
}



@media (max-width: 768px){
    .navbar-toggle {
        display: block;
    }
    .carousel{
        height: auto;
    }
    .carousel-caption{
        top: 116px;
    }
    .navbar ul.nav{
        /*margin: 2.33em;*/
        /*position: relative;*/
        top: 0;
        margin-top: 5px;
    }

    .about-us-section .content {
        text-align: center;
    }
    .about-us-section h1,.contact-us-section h1{
        margin-bottom: 2em;
    }

    .contact-cart-container{
        padding-left: 0;
        margin-left: 22%;
    }

    .BeesCreekOutsideSchoolHoursAndVacationCare-contact-table,.murrayachildrenscentre-contact-table {
        width: 100%;
    }
    input[type=search] {
      margin-left: 5px;
    }
}

@media(max-width: 512px){
    .carousel-caption {
        top: 87px;
    }

    .carousel-caption h1 {
        font-size: 28px;
    }
    .site-logo{
        width: 160px;
        height: 85px
    }
}

@media(max-width: 372px){
    .site-logo{
        width: 160px;
        height: 85px
    }

    .carousel-caption {
        top: 45px;
    }
}
